html {
	scroll-behavior: smooth;
}

body, a {
	--text-color: #161616;
}

.visually-hidden {
	display: none;
}

.card-category {
	--color-primary: #D73953;
}

.section-tagline {
	--color-primary: #D73953;
}

:root {
	--color-primary: #d73953;
	--color-black: #090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--text-color: black;
}
