/* Write a Sass file that assigns:

	- Font size 14px to all body tags
	- Font size 16px to all h1 tags inside body tags
	- Font size 12px to h1 tags of class .smaller inside body tags
	- You must use nested declarations */

$body-font-size: 14px;
$h1-font-size: 16px;
$smaller-font-size: 12px;

body {
	font-size: $body-font-size;

	h1 {
		font-size: $h1-font-size;

		.smaller {
			font-size: $smaller-font-size;
		}
	}
}
