/* Write a Sass file that assigns:

	- Margin left and right at 10px to body tags
	- Margin left and right at 15px to div tags
	- You must use a mixin */

@mixin margin-mixin {
	body {
		margin-left: 10px;
		margin-right: 10px;
	}

	div {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@include margin-mixin;

