/* Write a Sass file that assigns:

	- Margin left and right at 10px to body tags
	- Margin left and right at 15px to div tags
	- You must use a mixin */

$margin10px: 10px;
$margin15px: 15px;

body {
	margin-left: $margin10px;
	margin-right: $margin10px;
}

div {
	margin-left: $margin15px;
	margin-right: $margin15px;
}
