/* Write a Sass file that assigns:

	- Font size 12px to all tags of class .info
	- Text color #00FF00 to all tags of class .success and extend style of the class .info
	- Text color #FF0000 to all tags of class .warning and extend style of the class .info */

$info-size: 12px;
$color-success: #00FF00;
$color-warning: #FF0000;

.info {
	font-size: $info-size;
}


.success {
	@extend .info;
	color: $color-success;
}

.warning {
	@extend .info;
	color: $color-warning;
}

